p{
    margin: 10px;
    padding: 6px;
    border: 4px solid yellow;
    width: 300px;
    height: 100px;
    background-color: orange;

}

html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}

.has-purple-background{
    background-color: purple;
}

.has-green-background{
    background-color:green;
}

.has-thick-orange-border{
    border: 10px solid orange;
    background-color: blue;
}

main div {
    color: blue;
}

h1 + p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}
